
* {
    border: 2px solid red;
}
body {
    font-family: 'Roboto', sans-serins;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 98%;
    background-color: #1F2937;
    color: white;
    
}

nav .header.logo {
    margin-left: 100px;
}

nav ul {
    display: flex;
    width: 30%;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin-right: 100px;
}
.page-layout {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

.dark {
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
}

.white {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white .text {
    display: flex;
    gap: 50px;
}
.white img {
    height: 150px;
    width: 150px;
}
.tan {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tan .quote {
    width: 50%;
    font-style: italic;
}
.green {
    background-color: #3882F6;
    border-radius: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 329px;
    margin-top: 51px;
    margin-bottom: 51px;
}
.green .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer {
    background-color: #1F2937;
}

button {
    max-width: 70px;
    background-color: #3882F6;
    border-radius: 10px;
}

.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-secondary {
    font-size: 18px;
    color: #e6e7eb;

}

.header.logo {
    font-size: 24px;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.mainimg {
    height: 40%;
    width: 40%;
}



