.container {
    display: flex;
    flex-direction: column;
}

.dark {
    display: flex;
    background-color: #1F2937;
    flex-flow: column wrap;
}

.dark .headers {
    flex-direction: row;
    border: 2px solid red;
    justify-content: space-evenly;
}

footer {
    background-color: #1F2937;
}

.tan {
    background-color: #E5E7EB;
}

.green {
    background-color: #3882F6;
}

button {
    max-width: 70px;
    background-color: #3882F6;
    border-radius: 10px;
}

.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-secondary {
    font-size: 18px;
    color: #e6e7eb;

}

.header.logo {
    font-size: 24px;
    color: #f9faf8;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.mainimg {
    height: 250px;
    width: 500px;
}

.white img {
    height: 150px;
    width: 150px;
}